body{
    text-align: left;
}

div{
    display: inline-block;
    color:white
}
a{
    color: yellow;
}

button{
    background-image: linear-gradient(to bottom, #FFD700, #FFA500);
    display: inline-block;
    padding: 10px 20px;
}

#table{
    display: block;
    margin-top: 20px;
}

th,td{
    border: 1px solid black;
    padding: 5px;
}
.dropdown{
    display: none;
}

.hidden{
    display: none;
}